/*giving more aesthetic vibe by changing bakcground*/
body {
  background-color: #669999;
}

/*making the top header smaller to fit the rest of resume*/
h1 {
  font-size: 1.85rem;
  text-align: center;
}
h2 {
  font-size: 1rem;
  text-align: center;
}

#revealportfolio {
  display: block;
  /* Overrides the default inline-block behavior */
  margin: 0 auto;
}
#slide-up-portfolio {
  display: none;
  /* Keep the div hidden on landing */
  
}

#main-nav {
  float: left;
  width: 100%;
  background-color: #333;
}

#main-nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  float: left;
  position: relative;
  left: 50%;
}

#main-nav ul li {
  float: left;
  position: relative;
  right: 50%;
}

#main-nav ul li a {
  padding: 10px 25px;
  display: block;
  text-decoration: none;
  color: #ccc;
}

#main-nav ul li a:hover {
  background-color: #ccc;
  color: #333;
}