/*giving more aesthetic vibe by changing bakcground*/
body {
  background-color: #669999;
}
/*making the top header smaller to fit the rest of resume*/
h1 {
  font-size: 1.85rem;
  text-align: center;
}